@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="has-text-danger">Error:</h1>
@if (Model.HasMessage)
{
    <h2 class="has-text-danger">@Model.Message</h2>
}
else
{
    <h2 class="has-text-danger">An error occurred while processing your request.</h2>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
